<article>
  <h2>Your Cart</h2>
  <ul>
    <%= render(@cart.line_items) %>
  </ul>
  <div class="underscore"></div>
  <p>Total price: <%= @cart.total_price %></p>
  <%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>

</article>