@import 'store';

body {
  margin: 0;
  padding: 0;
}

header.main {
  text-align: center;

  @media (min-width: 30em) {
    text-align: left;
  }

  background: #282;
  margin: 0;

  h1 {
    display: none;
  }
}

.content {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: 30em) {
    flex-direction: row;
  }
}

nav {
  padding-bottom: 1em;
  background: #141;
  text-align: center;

  @media (min-width: 30em) {
    text-align: left;
    padding: 1em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: 30em) {
    padding-right: 1em;
  }

  li {
    margin: 0;
    padding: 0.5em;

    a {
      color: #bfb;
      text-decoration: none;
    }

    a:hover {
      background: none;
      color: white;
    }
  }


}

main {
  padding: 1em;
}


#notice {
  color: red;
  border: 1px solid palevioletred;
  padding: 1em;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: paleturquoise;
}

#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background-color: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0;
    }
  }
}